
                    /* Content */

.trophies{
    border: 1px solid black;
    text-align: center;
}

.friendlist{
    border: 1px solid black;
}

#page-info{
    margin-top: 2%;
    text-align: center;
}

.trophy{
    margin: 1%;
    vertical-align: middle;
    text-align: center;
    padding: 6%;
    border-radius: 0;
    float: left;
    background-color: #FFA726;
}

:focus {
    outline: 0;
}


.button {
    padding:1px;
    background:#fff;
    margin:0 0 10px 0;
    border:#ccc solid 1px;
    width:160px;
}
.trophy p{
    margin:0;
    text-align:center;
    padding:10px;
    background:#f1f1f1;
    cursor:pointer;
}
.trophy p:hover {background:#f9f9f9;}
.con {
    width:500px;
    background:#f9f9f9;
    border:#e1e1e1 solid 1px;
    padding:15px;

}
.con p {
    padding:10px;
    margin:1px 1px 0;
}
.con p span {
    padding:0 0 0 5px;
    color:#b0b0b0;
    font-style:italic;
    font-family:"Times New Roman", Times, serif;
}
#plus_trophy{
    background-image: url("/images/profile/trophae_muster.svg");
    background-size:cover;
}
#plus_silver_trophy{
    background-image: url("/images/profile/trophae_plus_silver.svg");
    background-size:cover;
}