

#game{
    text-align: center;
    height: 100%;
    width: 100%;
}

#game_div{
    height: inherit;
    width: inherit;
}

.btn-outline {
    border: solid 2px;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-xl{
    border-color: #fed136;
    border-radius: 3px;
    text-transform: uppercase;

    font-weight: 700;
    color: #fff;
    margin-bottom: 5%;
}

.btn-xl:hover{
    outline: 0;
    color: black;
    background: #fed136;
}

.start{
    padding: 4%;
    margin-top: 22%;

    font-size: 2.5em;
}

#button_leave{
    color: black;
}

#button_pause{
    color: black;
}


#start_div{
    position: absolute;
    height: inherit;
    width: inherit;
    background-color: #FFAB40;
}

#countdown_div{
    height: inherit;
    width: inherit;
    background-color: darkgrey;
    opacity: 0.9;
}

#pause_div{
    height: inherit;
    width: inherit;
    background-image: url(../../images/landingpage/about-background.png);
    background-repeat: repeat;
}

#end_game_div{
    height: inherit;
    width: inherit;
}

#end_game_stats{
    width: 60%;
    margin: auto;
}

#end_game_stats h1 {
    font-size: 250%;
}


#end_game_stats p {
    font-size: 200%;
}

                /*Z INDEXIERUNG */

#answerResponse{
    height: inherit;
    width: inherit;
    z-index: 4;
    position: absolute;
    opacity: 0.1;
}

#pause_div{
    z-index: 6;
    position: absolute;
    opacity: 0.9;

}

#game_div{
    z-index: 3;
    position: absolute;

}

#end_game_div{
    z-index: 1;
    display: none;
    position: absolute;

}

#start_div{
    z-index: 7;
    position: absolute;
}

        /* COUNTDOWN DIV */

#countdown_div{
    z-index: 5;
    position: absolute;
}

#countdown_text{
    color: white;
    font-size: 300%;
    padding-top: 5%;
}

#countdown_info{
    padding-top: 2%;
    font-size: 1200%;
    color: white;

}

                /* GAME DIV */

#result_line{
    font-size: 250%;
    margin-top: 2%;
}

#score_line{
    font-size: 500%;

}

.game-elements{
    padding-top: 2%;
}

.leave-buttons{
    margin: 2%;
    padding: 1%;
}

#game_line{
    font-size: 700%;
    padding: 1%;

}

#tip{
    margin-top: auto;
    text-align: center;
    font-size: 60%;
    height: 80%;
    width: 20%;

}

#stat_table{
    display: none;
}

    /* MULTIPLECHOISE BUTTONS */

.res{
    border-color: #4dd0e1;
    border-radius: 3px;
    text-transform: uppercase;
    margin-left: 1%;
    margin-right: 1%;
    font-weight: 700;
    color: #000;
}

#progress_bar{
    width: 30%; /* Laenge des Balkens */
    height: 8%;  /* Hoehe des Balkens */
    border-radius: 0.5em;
    margin:  2% auto 5% auto;
    text-align: center;
    background-color: #B2EBF2;

}

#bar{
    text-align: center;
    width: 30%; /* Laenge des Balkens */
    height: 100%;  /* Hoehe des Balkens */
    background: #4dd0e1; /* Balkenfarbe */
    border-radius: 0.5em;
}

#percent{
    display: none;
    color: black;
    font-size:  200%;
}

#button_res1{
    font-size: 300%;
    padding: 1%;
}

#button_res2{
    font-size: 300%;
    padding: 1%;
}

#button_res3{
    font-size: 300%;
    padding: 1%;
}

#button_res4{
    font-size: 300%;
    padding: 1%;
}

.res:hover{
    outline: 0;
    color: black;
    background: #4dd0e1;
}

        /* PAUSE DIV */

#pause_info{
    padding-top: 10%;
}

#phead{
    font-size: 400%;
}

#button_continue{
    padding: 3%;
    margin-top: 5%;
    font-size: 200%;
    color: black;
}

        /* END GAME DIV */

#end_game_stats{
    margin-top: 6%;
}

#button_main_menu{
    color: black;
}

#button_to_start{
    color: black;
}


#noTrophy {
    margin: 2% auto 4% auto;
    border-radius: 100%;
    background-color: white;
    border: 1px dotted grey;
    display: inline-block;
    width: 15vh;
    height: 15vh;
}

#trophyWon{
    display: block;
    margin: 2% auto 4% auto;
    width: 15vh;
    height: 15vh;
}

#trophyWon[data-pod="1"] {
    background-image: url(/images/profile/Schnuerchen_Medaille_Gold.png);
    background-size: cover;
}
#trophyWon[data-pod="2"] {
    background-image: url(/images/profile/Schnuerchen_Medaille_Silber.png);
    background-size: cover;
}
#trophyWon[data-pod="3"] {
    background-image: url(/images/profile/Schnuerchen_Medialle_Bronzw.png);
    background-size: cover;
}