<link href="/stylesheets/game-style/<%= @game[:css_filename]%>" rel="stylesheet">

<section id="game" data-g_id="<%= @game[:id] %>">

  <div id="start_div" >

  </div>

  <div id="pause_div">

  </div>

  <div id="game_div" >

  </div>

  <div id="end_game_div">

  </div>

  <div id="answerResponse">

  </div>

</section>
	<%= "<script src='#{settings.game_dir}" + @game[:filename] + "'></script>" %>
    <script src="/javascripts/postHighscore.js"></script>