<!-- Intro Header -->

<header class="intro">

  <div id="intro-bulb"></div>

  <div id="intro-box">
    <p class="heading">Schnürchen</p>
    <a href="#can-do" class="btn btn-xl btn-lg btn-outline page-scroll" id="tellMore">Erzähl mir mehr!
      <i class="fa"></i>
    </a>
  </div>
</header>

<!-- Blog Section -->

<section id="can-do" class=" content-section">
  <hr>
  <br>

  <h2 class="intro-text text-center">Schnürchen ist ...</h2>
  <hr>
  </div>
  <div class="box">
    <div class="can-do-content">
      <div class="col-md-offset-2 col-md-2">
        <br>
        <br>

        <div id="grapics1"></div>
        <!-- Hier ist nachher ein Bild -->
      </div>
      <div class="col-lg-4 col-lg-offset-1 col-md-6 col-md-offset-1 content">
        <br>
        <br>

        <p>Schnürchen ist eine Lernplattform die sich mit dem Rechnen beschäftigt.

        <p>

        <p>Der Umgang mit den Grundrechnenarten soll geschult werden.</p>

        <p>Jede Rechnenart kann zuerst mit kleinen Zahlen geübt werden, damit auch schnelle Erfolge zu merken
          sind.</p>
      </div>
      <div class="clearfix"></div>
      <hr>
      <div class=" col-md-offset-2 col-md-2">
        <div id="grapics2"></div>
        <!-- Hier is nachher ein bild -->
      </div>
      <div class="col-lg-4 col-lg-offset-1 col-md-6 col-md-offset-1 content">
        <br>
        <br>

        <p>Geschaffte Erfolge werden bei Schnürchen mit Medaillen belohnt.</p>

        <p>In jeder Rechenart, jedem Zahlenbereich und jeder Spielart kann eine Bronz-, Silber- oder Goldmedaille
          gewonnen werden.</p>

        <p>Das ist nicht nur eine Belohnung, sondern zeigt auch wie gut gerechnet werden kann.</p>

        <p>Ebenfalls können die Erfolge deiner Freunde betrachtet werden, dazu müssen sie sich nur in deiner
          Freundesliste befinden.</p>
      </div>
      <div class="clearfix"></div>
      <!-- <hr>
       <br>
       <br>
       <div class="col-md-offset-2 col-md-2" id="grapics3">

       </div>
        <div class="col-md-6 col-md-offset-1">
         <p>Ebenfalls können die Erfolge deiner Freunde betrachtet werden, dazu müssen sie sich nur in deiner Freundesliste befinden.</p>
         <p>Um zu wissen wie es geht, musst Du nur auf SO GEHTS! klicken.</p>
         <br>
         <br>
       </div>-->
      <div class="clearfix"></div>
    </div>
  </div>
</section>

<!-- About Section -->


<section id="about" class="content-section text-center">

  <div id="about-content">
    <h2 class="intro-text">Hier erklären wir dir, wie Du Schnürchen benutzt</h2>
  </div>

  <div id="howTo">

    <div class="col-md-3 col-md-offset-2">
      <div class="caption" id="step1">
        <p><span class="step">1</span><br/>Schritt</p>
      </div>
    </div>

    <div class="col-md-5">
      <div id="step1Explanation" class="stepExplanation">
        <div class="stepContent">


          <div class="stepDescription">
            <p>
              Um anfangen zu können musst du dich zuerst mit deinem Vornamen,
              einem selbst ausgedachten Benutzernamen und einem Passwort auf unserer
              Registrieren-Seite, registrieren
            </p>
          </div>
        </div>
        <div class="stepControl">
          <!-- <div class="btn btn-lg btn-xl btn-outline stepButton backToSteps">Zurück</div>
           <div class="btn btn-lg btn-xl btn-outline stepButton" id="step1Forward">&gt;</div> -->
        </div>
      </div>
    </div>

    <div class="clearfix"></div>


    <div class="col-md-5 col-md-offset-2">
      <div id="step2Explanation" class="stepExplanation">
        <div class="stepContent">

          <div class="stepDescription">
            <p>
              Du kannst gleich von hier mit dem Spiel beginnen, oder gibts oben bei Anmelden deinen Benutzernamen
              und dein Passwort ein.
            </p>
          </div>
        </div>
        <div class="stepControl">
          <!-- <div class="btn btn-lg btn-xl btn-outline stepButton" id="step2Backward">&lt;</div>
           <div class="btn btn-lg btn-xl btn-outline stepButton backToSteps">Zurück</div>
           <div class="btn btn-lg btn-xl btn-outline stepButton" id="step2Forward">&gt;</div>-->
        </div>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
      <div class="caption" id="step2">
        <p><span class="step">2</span><br/>Schritt</p>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-3 col-md-offset-2">
      <div class="caption" id="step3">
        <p><span class="step">3</span><br/>Schritt</p>
      </div>
    </div>

    <div class="col-md-5">
      <div id="step3Explanation" class="stepExplanation">
        <div class="stepContent">

          <div class="stepDescription">
            <p>
              Jetzt kannst du endlich spielen!
              <br>
              Entscheide selbst mit welcher Rechenart du rechnen möchtest und wie schwer es für dich werden soll.<br>
              Gewinne Medaillen, füge Freunde zu deiner Freundesliste hinzu und vergleiche dich mit ihnen
            </p>
          </div>
        </div>
        <div class="stepControl">
          <!--<div class="btn btn-lg btn-xl btn-outline stepButton" id="step3Backward">&lt;</div>
          <div class="btn btn-lg btn-xl btn-outline stepButton backToSteps">Zurück</div> -->
        </div>
      </div>
    </div>
    </div>



    <div class="clearfix"></div>
  </div>

</section>




<!-- Footer -->