<!-- Intro Header -->

<header class="intro">

  <div id="intro-bulb"></div>

  <div id="intro-box">
    <p class="heading">Schnürchen</p>
    <a href="#can-do" class="btn btn-xl btn-lg btn-outline page-scroll" id="tellMore">Erzähl mir mehr!
      <i class="fa"></i>
    </a>
  </div>
</header>

<!-- Blog Section -->

<section id="can-do" class=" content-section">
  <div class="row">
    <div class="col-lg-12">
      <hr>
      <br>
      <h2 class="intro-text text-center">Schnürchen ist ...</h2>
      <hr>
    </div>
    <div class="box">
      <div class="can-do-content">

        <div class="col-md-4">
          <!-- Hier ist nachher ein Bild -->
        </div>
        <div class="col-md-7">
          <br>
          <br>
          <p>This is a great place to introduce your company or project and describe what you do.</p>
          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="clearfix"></div>
        <hr>
        <br>
        <br>
        <div class="col-md-4">
          <!-- Hier is nachher ein bild -->
        </div>
        <div class="col-md-7">
          <p>This is a great place to introduce your company or project and describe what you do.</p>
          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="clearfix"></div>
        <hr>
        <br>
        <br>
        <div class="col-md-4">
          <!-- Hier is nachher ein bild -->
        </div>
        <div class="col-md-7">
          <p>This is a great place to introduce your company or project and describe what you do.</p>
          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <br>
          <br>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->

<section id="about" class="content-section text-center">

  <div id="about-content">
    <h2 class="intro-text">Hier erklären wir dir, wie Du Schnürchen benutzt</h2>
  </div>

  <div id="howTo">
  <div class="row">

    <div class="col-sm-4 portfolio-item">
        <div class="caption" id="step1">
          <p class="step">Schritt<br/>1</p>
        </div>
    </div>

    <div class="col-sm-4 portfolio-item">

        <div class="caption" id="step2">
          <p class="step">Schritt <br/>2</p>
        </div>

    </div>
    <div class="col-sm-4 portfolio-item">
        <div class="caption" id="step3">
          <p class="step">Schritt<br/>3</p>
        </div>
    </div>
  </div>
  </div>

  <div id="explanation" style="display: none">

  </div>


</section>




<!-- Footer -->

<footer>
  <div class="container text-center">
        impressunm und so wilder quatsch
  </div>
</footer>