

<link href="/stylesheets/logout.css" rel="stylesheet">

<div id="logoutMessage">

  <h3>Sehr schade dass Du Schon aufhörst bei uns zu spielen</h3>
  <h1>Bis zum nächsten Mal</h1>
  <h1>Wir freuen uns</h1>

    <a href="/">
      <div class="btn btn-lg btn-xl btn-outline" id="backToIndex">
        Hier gehts zu Startseite
      </div>
    </a>

</div>