    <header class="intro">

        <div id="intro-bulb"></div>

        <div id="intro-box">
            <p class="heading">Whoooops</p>
            <p>Diese Seite gibt's leider nicht. Sorry, bro.</p>
        </div>
    </header>