    <header class="intro">

        <div id="intro-bulb"></div>

        <div id="intro-box">
            <p class="heading">Hoppala</p>
            <p>Diese Seite konnte nicht gefunden werden</p>
        </div>
    </header>