    <header class="intro">

        <div id="intro-bulb"></div>

        <div id="intro-box">
            <p class="heading">So geht's nicht</p>
            <p>Bitte melde dich erst an.</p>
        </div>
    </header>