div.selection a:hover {
    text-decoration: none;
}

.selection{
    text-align: center;
    height: 22.5vh;
}

.selection-button{

    height: 7%;
    width: 7%;
    margin: 1.5vw;
    padding: 4.2vw;
    border: 1px solid black;
    background-size: cover;
}

#info-box{
    height: 16vh;
    overflow: hidden;
}

#selection-info{
    text-align: center;
    margin-top: 2%;
}

.btn-outline{
    /*border: 3px solid black;*/
}

.operators{
    border-color: #E57373;
    position: relative;
    z-index: 1;
}

.range{
    border-color: #B39DDB;
    position: relative;
    z-index: 1;
}

.games{
    border-color: #66BB6A;
}

.operators:hover{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    background-color: #E57373;
}

.range:hover{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    background-color: #B39DDB;
}

.games:hover{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    background-color: #66BB6A;
}

.indicator{
    border-radius: 100%;
    height: 1.4vw;
    width: 1.4vw;
    background-color: #FFA726;
    position: absolute;
    z-index: 4;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    margin-top: 60%;
}
