#gameChosen img{
    border-radius: 0.5em;
    position: absolute;

    margin-left: 4vw;
    height: 7vw;
    top: 0;
    left: 0;
    width: auto;
}

#first{
    border: 1px solid #E57373;
    display: block;
    margin-top: 8vh;
}

#second{
    border: 1px solid #B39DDB;
    margin-top: 25vh;
    display: block;
}

#third{
    border: 1px solid #66BB6A;
    margin-top: 42vh;
}
