<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Schnuerchen - Game Upload</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/stylesheets/landingpage-style/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/signup.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

	String 		:name
		String		:filename 
		String	 	:css_filename
		String		:operator
		String		:gamerange
		String		:gametype_name
		String	 	:scoretype
		String		:long_descr
	
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" placeholder=":name">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Beschreibung</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" placeholder=":long_descr)">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">JS Datei</label>
			<div class="col-sm-10">
				<input type="file" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">CSS Datei</label>
			<div class="col-sm-10">
				<input type="file" class="form-control">
				<span id="helpBlock" class="help-block">Nicht notwendig, wenn dummygamestyle.css verwendet werden soll</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox">
					<label>
						<input id="defaultCSS" type="checkbox">dummygamestyle.css verwenden
					</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<% @operators.each do |op| %>
				<div class="col-sm-offset-2 col-sm-10">
					<div class="radio">
						<label>
							<input type="radio" name="operator" id="operator_<%= op[:id]%>" value="<%= op[:name] %>">
							<%= op[:name] %>
						</label>
					</div>
				</div>
		</div>


<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Option two can be something else and selecting it will deselect option one
  </label>
</div>
<div class="radio disabled">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
    Option three is disabled
  </label>
</div>


		<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Hochladen</button>
			<span id="helpBlock" class="help-block">Obacht! Alles sorgfältig ausfüllen!</span>
		</div>
		</div>
	</form>

    <!-- jQuery -->
    <script src="/javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/landing-js/bootstrap.min.js"></script>


    <script src="/javascripts/signup-js/jqBootstrapValidation.js"></script>
    <script src="/javascripts/signup-js/userInsert.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/javascripts/signup-js/signup.js"></script>

</body>

</html>