<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> <%= @game[:name] %> </title>
</head>
<body>
	<h1> <%= @game[:name] %> </h1>
	<div id="game_div"></div>

	<%= "<script src='#{settings.game_dir}" + @game[:filename] + "'></script>" %>
</body>
</html>