<section>
  <!-- Auswahl Operator -->

  <div class="selection" id="operation">
    <div class="btn btn-lg selection-button operators" id="plus"></div>
    <div class="btn btn-lg selection-button operators" id="minus"></div>
    <div class="btn btn-lg selection-button operators" id="multi"></div>
    <div class="btn btn-lg selection-button operators" id="divison"></div>
    <div class="btn btn-lg selection-button operators" id="all-operators"></div>
  </div>

  <!-- Auswahl Zahlenbereich -->

  <div class="selection" id="numberrange">
    <div class="btn btn-lg selection-button range"></div>
    <div class="btn btn-lg selection-button range"></div>
    <div class="btn btn-lg selection-button range"></div>
  </div>

  <!-- Auswahl Spiel -->

  <div class="selection" id="game">
    <div class="btn btn-lg selection-button games" id="onTime"></div>
    <div class="btn btn-lg selection-button games" id="onScale"></div>
    <div class="btn btn-lg selection-button games" id="onScore"></div>
  </div>

</section>