<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> <%= @title %> </title>
	<%= "<script src='#{@game_path}'></script>" %>
</head>
<body>
	<h1> <%= @title %> </h1>
	<div id="game_div"></div>
</body>
</html>