<section id="game">

  <div id="start_div" >

  </div>

  <div id="pause_div">

  </div>

  <div id="game_div" >

  </div>

  <div id="end_game_div">

  </div>

</section>
	<%= "<script src='#{settings.game_dir}" + @game[:filename] + "'></script>" %>