<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/trophy.css" rel="stylesheet">

    <script type="/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

                            <!-- Navigation -->

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#">Profil</a>
                    </li>
                    <li>
                        <a href="#">Irgendwas</a>
                    </li>
                    <li>
                        <a href="#">Abmelden</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

                            <!-- Header -->

    <header id="head" class="header">

    </header>

    <h2 id="page-info">Hallo <%= @user %></h2>



    <section>
                           <!-- Trophähen -->

        <div class="trophies col-md-7">

            <div id="button2">
                <div class="trophy btn btn-lg">hover me</div>
                <div class="con" style="display: none;"></div>

            </div>


        </div>

                         <!-- Freundesliste -->

        <div class="friendlist col-md-5">
            <ul>
                Fucking friendlist
                <li>Kind 1</li>
                <li>Kind 2</li>
                <li>Kind 3</li>
                <li>Kind 4</li>
            </ul>
        </div>


    </section>

    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <script src="javascripts/hover.js"></script>

</body>

</html>


