<!DOCTYPE html>
<html>
<head lang="en">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="huehuheuhehuehuehue" content="viel">
  <meta name="elisakennywillimanu" content="spass">

  <!-- Bootstrap Core CSS -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

  <!-- Custom CSS -->
  <link href="/stylesheets/layout.css" rel="stylesheet">

  <link href="/stylesheets/game-style/<%= @game[:css_filename]%>" rel="stylesheet">

  <link href="/fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->

  <title>Dummygame</title>

</head>
<body>

<!-- Navigation -->


<nav class="navbar navbar-custom" role="navigation">

  <div class="container">
    <div>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars fa-2x"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li>
          <a href="">Profil</a>
        </li>
        <li>
          <a href="">Abmelden</a>
        </li>
      </ul>
    </div>

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Header -->

<!--<header id="head" class="header">
    &lt;!&ndash; nur das da mal ne referenz da is &ndash;&gt;


    &lt;!&ndash; <img src= class="avatar"> &ndash;&gt;
</header>-->

<%= yield %>


<!--<script src="game_n_mult_small.js"></script>-->
<!-- <script src="/javascripts/games/multiplechoice_dummy.js"></script> -->
<script src="/javascripts/game-animation/gameAnimation.js"></script>
<!-- Bootstrap Core JavaScript -->

<!--[if lt IE 7]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->
</body>
</html>