

<link href="/stylesheets/profil.css" rel="stylesheet">

    <section>
                       <!-- Trophähen -->

        <div id="myProfil">

          <h2 id="page-info">Hallo <%= @user[:firstname] %></h2>

          <div id="myCarousel" class="col-md-8 carousel slide">

            <!--
              <div id="button2">
                  <div class="trophy btn btn-lg">hover me</div>
                  <div class="con" style="display: none;"></div>
              </div>

              -->

            <div id="trophies">

              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for Slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <!-- Set the first background image using inline CSS below. -->
                  <div class="fill"></div>
                  <div class="carousel-caption">
                    <h2>Addition</h2>
                    <% if @trophies.empty? %>
                        <p>noch keine trophäen</p>
                    <% else %>
                        <p><%= "#{@trophies[3][0]}"%> </p>
                    <% end %>
                  </div>
                </div>
                <div class="item">
                  <!-- Set the second background image using inline CSS below. -->
                  <div class="fill"></div>
                  <div class="carousel-caption">
                    <h2>Subtraktion</h2>
                  </div>
                </div>
                <div class="item">
                  <!-- Set the third background image using inline CSS below. -->
                  <div class="fill"></div>
                  <div class="carousel-caption">
                    <h2>Multiplikation</h2>
                  </div>
                </div>
                <div class="item">
                  <!-- Set the third background image using inline CSS below. -->
                  <div class="fill"></div>
                  <div class="carousel-caption">
                    <h2>Division</h2>
                  </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
              </a>

            </div>


          </div>
          <!-- --------------Freundesliste-------------- -->

          <div class="col-md-4">
            <div id="friendlist" >


              <input class="input-lg" placeholder="Nach Freunden suchen" type ="text" id="friendsearchinput" oninput="searchFriend()"/>


                <div id="friendResponse">
                  <ul id="responseList"></ul>
                </div>

              <ul>
                <% if @friendinfo.empty? %>
                    <p>KEINE FREUNDE HAHA MOF</p>
                <% else %>
                    <% @friendinfo.each do |friend|%>
                        <li><%= friend[0][:username] %></li>
                    <% end %>
                <% end %>
              </ul>
            </div>


          </div>

        </div>


      <!-- --------------Friendoverlay-------------- -->

        <div class="friendOverlay">

            <div id="friendProfil">

             <div id="friendTrophies">

             </div>

             <div id="controlls">
                  <h1>Freundesname</h1>
                  <div class="btn btn-lg btn-xl btn-outline" id="hideFriendProfil">Zurück zum Profil</div>
             </div>

            </div>

        </div>
    </section>

<script src="/javascripts/trophyAjax.js"></script>
<script src="/javascripts/profil.js"></script>
