


<h2 id="page-info">Hallo <%= @usernames %>></h2>



    <section>
                           <!-- Trophähen -->

        <div class="trophies col-md-7">

            <div id="button2">
                <div class="trophy btn btn-lg">hover me</div>
                <div class="con" style="display: none;"></div>
            </div>
        </div>

                         <!-- Freundesliste -->

        <div class="friendlist col-md-5">
            <ul>
                Fucking friendlist
                <li>Kind 1</li>
                <li>Kind 2</li>
                <li>Kind 3</li>
                <li>Kind 4</li>
            </ul>
        </div>
    </section>