<form action="/games" method="POST">
	<label>Name</label><input type="text" name="name"></input><br>
	<label>Filename</label><input type="text" name="filename"></input><br>
	<label>CSS Filename</label><input type="text" name="cssfilename"></input><br>
	<label>Operator</label><input type="text" name="operator"></input><br>
	<label>Range</label><input type="text" name="range"></input><br>
	<label>Type</label><input type="text" name="type"></input><br>
	<label>Scoretype</label><input type="text" name="scoretype"><br>
	<button type="submit" value="Insert"></button>
</form>