<form action="/games" method="POST">
	<label>Filename</label><input type="text" name="filename"></input><br>
	<label>CSS Filename</label><input type="text" name="cssfilename"></input><br>
	<label>Operator</label><input type="text" name="op"></input><br>
	<label>Range</label><input type="number" name="rng"></input><br>



</form>